@import '../../utility/variables';

$button-border-raidius: 15px;
$button-padding: 0px 15px;

.button-primary {
  background-color: $primary;
  border-radius: $button-border-raidius;
  color: white;
  padding: $button-padding;
}

.button-transparent {
  color: $dark-gray;
  transition: 0.2s;

  &:hover {
    opacity: 70%;
  }
}

.button-outlined {
  background-color: white;
  border-radius: $button-border-raidius;
  color: $primary;
  padding: $button-padding;
  border: solid 2px $primary;
  
  transition: 0.2s;

  &:hover {
    background-color: $primary;
    color: white;
  }
  
}

// .button-disabled {

// }

.button-large {
  font-size: 20px;
}