@import '../../utility/variables';

.logo-container {
  display: flex;

  h1 {
    font: $pacifico-bold-header;
    font-size: 40px;
  }

  .hestia-primary {
    color: $primary;
  }

  .hestia-white {
    color: white;
  }

  .large-hestia {
    font-size: 110px;
  }
}

.logo {
  position: relative;

  & > * {
    margin-top: 6px;
  }
}