@import '../../utility/variables';

.navbar {
  position: fixed;
  width: 100%;
  background-color: white;
}

.navbar-container {

  display: flex;
  padding: 5px 5px;
  position: relative;

  .navbar-logo {
    font: $pacifico-bold-header;
    color: $primary;
  }

  .navbar-buttons {
    // background-color: yellowgreen;
    flex-grow: 1;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    .navbar-button {
      margin-left: 100px;
    }

  }
}