@import '../../utility/variables';

.landing-page {
  color: $dark-gray;
  .first-section-container {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    
    padding-top: 5%;
    
    .left-section {
      flex: 1 1;
      display: none;

      @media (min-width: $lg) {
        display: block;
      }

    }

    .right-section {
      flex: 1 1;

      .right-section-container {

        .first-section-logo {
          width: 100%;
          margin: auto;
        }
  
        .first-section-content {
          text-align: center;
  
          @media (min-width: $lg) {
            text-align: left;
          }
  
          text-align: center;
          
          h1 {
            font-size: 65px;
            font-weight: 900;
  
            .main-everyone {
              color: $primary;
            }
          }
  
          p {
            font-size: 40px;
          }
        }
      }
    }
  }
}