@import '../../utility/variables';

.landing-page {
  color: $dark-gray;
  .first-section-container {
    height: 100vh;

    background-color: yellowgreen;

    .left-section {
      width: 50%;
      padding-top: 70px;
      display: inline-block;

    }

    .right-section {
      width: 50%;
      padding-top: 80px;
      display: inline-block;

      .first-section-content {
        .first-section-logo {
          
        }

        h1 {
          font-size: 65px;
          font-weight: 900;

          .main-everyone {
            color: $primary;
            width: auto;
          }
        }

        p {
          font-size: 40px;
        }

      }
    }
  }
}